<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        .container{background-image: none;background-color: black;}
        .main{height: auto;text-align: center; padding-top: 180px;}
        .main img{width: 300px; height: 300px;}
        .contect{text-align: center;}
        .contect input {width: 500px; height: 70px; font-size: 20px;margin-left: 5px; border: 1px solid #000; position: relative;}
        .contectList{list-style: none;}
    </style>
</head>
<body class="scroll" style="background-color: black;">
<!-- header -->
<div th:replace="common/header"></div>
<!-- header end -->
<div class="container">
    <div class="main">
        <img th:src="@{/images/gol2.jpg}">
    </div>
    <div class="contect">
        <h3 style="color: #fff;">골든에이지 컨택 정보 수정</h3>
        <form id="updateForm" name="updateForm" th:action="@{/company/company_update}" method="post">
        <ul class="contectList">
            <li><input name="address" type="text" placeholder="주소" th:value="${ comInfo.address }"></li>
            <li><input name="phone" type="text" placeholder="전화번호" th:value="${ comInfo.phone }"></li>
            <li><input name="email" type="email" placeholder="이메일" th:value="${ comInfo.email }"></li>
            <li><input name="instagram" type="url" placeholder="인스타그램 주소" th:value="${ comInfo.instagram }"></li>
            <li><input name="twitter" type="url" placeholder="트위터 주소" th:value="${ comInfo.twitter }"></li>
        </ul>
        <div class="text-center py-2">
            <a onclick="correctionForm()" class="btn btn-warning btn-lg text-white" style="font-family: 'Oswald', sans-serif; font-weight: bold;">수정</a>
            <a href="/company/company" class="btn btn-warning btn-lg text-white" style="font-family: 'Oswald', sans-serif; font-weight: bold;">취소</a>
        </div>
        </form>
    </div><!-- contect close -->
</div><!-- container close -->

<!-- S: footer -->
<div th:include="common/footer.html"></div>
<!-- E: footer -->
<script type="text/javascript">
    function correctionForm() {
        var result = confirm("수정완료 하시겠습니까?");

        if(result == true) {

            $('#updateForm').submit();
            alert("신청서 수정이 완료되었습니다.");
        }else {
            return false;
        }
    }
</script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
