<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <link rel="stylesheet" href="/css/space.css">
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background-color: #282828;
      font-family: 'Noto Sans KR', sans-serif;
    }
  </style>
</head>
<body class="scroll">
<!-- S: header -->
<div th:include="common/header"></div>
<!-- E: header -->
<div class="content">
  <div class="d-flex justify-content-center" style="display: inline; background: #ccc;font-family: 'Oswald', sans-serif !important;height: 240px;background: #232321;padding-top: 170px;">
    <h1 style="color: #fff;border-bottom: 10px #ffb000 solid;padding-bottom: 8px;font-size: 5rem;font-weight: bold;margin: auto;">SPACE</h1>
  </div>
  <br>
  <br>
  <div class="row mt-7 mx-auto" style="padding-left: 20%; padding-right: 20%; padding-top: 9rem;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">SPACE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown"  >
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                공간 선택
              </a>
              <!--              <ul class="dropdown-menu dropdown-menu-dark">-->
              <!--                <li th:each="list : ${ spaceList }"><a class="dropdown-item" id="selectSpace" th:href="'/space/theater/number?spaceNum=' + ${ list.spaceNum }" th:text="${ list.spaceName }"></a><input type="hidden" class="sNumber" th:value="${ list.spaceNum }"></li>-->
              <!--              </ul>-->
              <ul class="dropdown-menu dropdown-menu-dark">
                <li th:each="list : ${ spaceList }"><a class="dropdown-item" id="selectSpace" th:href="'/space/theater/number?spaceNum=' + ${ list.spaceNum }" th:text="${ list.spaceName }"></a><input type="hidden" class="sNumber" th:value="${ list.spaceNum }"></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <br>
  <br>
  <!-- 이미지 슬라이드 (캐러셀)-->
  <div id="carouselExampleIndicators" class="carousel slide row mt-7 mx-auto" data-bs-ride="true" style="padding-left: 20%; padding-right: 20%; padding-top: 2rem;">
    <div class="carousel-inner">
      <!--      <div class="carousel-item active" th:each="space : ${ spacePhoList }">-->
      <!--        <img th:src="'/upload/space/' + ${ space.spaceFileName }" class="d-block w-100 h-30" alt="#">-->
      <!--      </div>-->
      <div class="carousel-item active" th:each="space : ${ spacePhoList }">
        <img th:src="'/upload/space/' + ${ space.spaceFileName }" class="d-block w-100 h-30" alt="#">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- 이미지 슬라이드 close -->
  <br>
  <br><br>
  <br>
  <!--  <th:block th:if="${spaceView != null}">-->
  <div class="row mt-7 mx-auto" style="padding-left: 20%; padding-right: 20%; padding-top: 2rem;" th:each="view : ${ spaceView }">
    <h4 style="color: white" th:text="${ view.spaceName }"></h4>
  </div>
  <!--  </th:block>-->
  <div class="row mt-7 mx-auto" style="padding-left: 20%; padding-right: 20%; padding-top: 1rem;">
    <table style="background-color: white"  th:each="view : ${ spaceView }">
      <tr>
        <th>주소</th>
        <td th:text="${ view.spaceAdd }"></td>
      </tr>
      <tr>
        <th>공간넓이</th>
        <td th:text="${ view.spaceWidth }"></td>
      </tr>
      <tr>
        <th>이용시간</th>
        <td th:text="${ view.spaceTime }"></td>
      </tr>
      <tr>
        <th>공간소개</th>
        <td th:text="${ view.spaceContent }"></td>
      </tr>
      <tr>
        <th>예약링크</th>
        <td th:text="${ view.spaceLink }"></td>
      </tr>
    </table>
  </div>
  <th:block sec:authorize="isAuthenticated()">
    <div style="text-align: center; padding: 20px;">
      <button class="btn" type="button" style="color:white; padding: 8px 25px 8px 25px; border: solid 1px white; border-radius: 3px; font-size: 1.5em;" onclick="location.href='/space/spaceList'">연습실목록</button>
    </div>
  </th:block>
</div>
<!-- S: footer -->
<div th:include="common/footer.html"></div>
<!-- E: footer -->
</body>
</html>